{% extends 'base.html' %}

{% block content %}
<section class="container-fluid p-3 row mx-auto text-center tagImage">
    <div class="tagText mx-auto my-auto col-10 col-md-6">
        <h1>БИЛЕТЕР</h1>
        <div class="line mx-auto mb-3"></div>
        <p class="fw-semibold">Лучшее место для покупки билетов на поезда</p>
    </div>
</section>
<!-- Блок с описание преимуществ компании -->
<section class="container row p-3 justify-content-center mx-auto">
    <div>
        <h2 class="text-center mb-3">Наши преимущества</h2>
        <div class="line mx-auto mb-3"></div>
    </div>
    <div class="row mx-auto">
        <div class="col-12 col-md-6 mb-3">
            <h5 class="text-center fw-semibold">Лучший опыт</h5>
            <p clas="text-center">Наша задача сделать покупку билета таким же приятным процессом, как и сама поездка или
                её цель. Мы стремимся, чтобы Вам было комфортно пользоваться нашим сайтом</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <h5 class="text-center fw-semibold">Безопасность</h5>
            <p clas="text-center">Мы заботимся о безопасности наших клиентов, поэтому пользуясь нашим сайтом, Вы можете
                не переживать о сохранности данных, которые Вы нам доверяете</p>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <h5 class="text-center fw-semibold">Огромный выбор</h5>
            <p clas="text-center">Мы предлагаем различные варианты билетов и маршрутов, чтобы Вы могли выбрать наиболее
                подходящий для себя вариант и насладиться поездкой </p>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <h5 class="text-center fw-semibold">Официальные билеты</h5>
            <p clas="text-center">Билеты, которые Вы покупаете на нашем сайте - официальные билеты, которые мы получаем
                напрямую от организаторов перевозок, поэтому покупая билеты у нас, Вы можете быть уверены в их
                подлиности</p>
        </div>
    </div>
</section>
{% endblock %}