{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mb-3">О нас</h2>
<p>Наша компания предоставляет услуги по подбору и покупке билетов. Если у Вас возникли какие-либо сложности или
    проблемы при использовании нашего сайта - обращайтесь по указанным ниже контактным данным</p>

<h3>Контакты</h3>
<ul>
    <li>
        <b>E-mail: </b> <a href="mailto:obukhovas3210@mail.ru">obukhovas3210@mail.ru</a>
    </li>
    <li>
        <b>Cайт разработан: </b> Обуховым Алексеем (гр. 221-3210) в 2024 году.
    </li>
</ul>
{% endblock %}